<div class="container-fluid" id="nonBlurSearch"
     style="visibility: hidden; opacity : 0; transition: visibility 0.8s, opacity 0.8s linear;">
    <div class="row">
        <div class="col-md-4">
            <div class="row ml-5" style="display: flex">
                <div class="col-md-12">
                    <div class="card bg-dark text-light mr-5 text-center">
                        <div class="card-body">
                            <h2 class="card-title">Teachers Found</h2>
                        </div>
                    </div>
                </div>
                <div class="row" id="teacherShowSearchResult" style="display: flex; width: 100%; margin-left:0.1vw; ">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row ml-5" style="display: flex">
                <div class="col-md-12">
                    <div class="card bg-dark text-light mr-5 text-center">
                        <div class="card-body">
                            <h2 class="card-title">Students Found</h2>
                        </div>
                    </div>
                </div>
                <div class="row" id="studentShowSearchResult" style="display: flex; width: 100%; margin-left:0.1vw; ">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row ml-5" style="display: flex;">
                <div class="col-md-12">
                    <div class="card bg-dark text-light mr-5 text-center">
                        <div class="card-body">
                            <h2 class="card-title">Classes Found</h2>
                        </div>
                    </div>
                </div>
                <div class="row" id="classShowSearchResult"
                     style="display: flex; width: 100%; margin-left:0.1vw; "></div>
            </div>
        </div>
    </div>
</div>