<%- include('partials/_header.ejs') %> 
<%- include('css/menuCss.html') %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card cont">
                <div class="box">
                    <h1 class="mainTitle">Classes</h1>
                    <div class="container-fluid">
                        <div class="card-columns">
                            <div class="card bg-dark mb-3 text-left text-white classCard">
                                <img class="class-img-top classImg" src="/img/classroomTitle2.jpg"/>
                                <div class="card-body">
                                    <h1 class="card-title">Card title</h1>
                                    <h5 class="card-text">Created By</h5>
                                    <h6 class="card-text text-muted">Created On</h6>
                                </div>
                            </div>
                            <div class="card bg-success mb-3 text-center text-white addCard">
                                <div class="card-body">
                                    <h1 class="card-title">+</h1>
                                    <h1 class="card-title">Add Class</h1>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
<%- include('partials/_footer.ejs') %> 