<%- include('partials/_header.ejs') %>
<form action="/retrieveSessionData?redirectUrl=<%= redirectUrl %>" method="POST" id="sessionForm">
    <input type="hidden" id="sessionId" name="sessionId">
    <input type="hidden" id="userId" name="userId">
    <input type="hidden" id="userName" name="userName">
    <input type="hidden" id="userType" name="userType">
</form>
<script>
    async function retrieveDataAndSend() {
        document.getElementById('sessionId').value = String(await localStorage.getItem('sessionId'));
        document.getElementById('userId').value = String(await localStorage.getItem('userId'));
        document.getElementById('userName').value = String(await localStorage.getItem('userName'));
        document.getElementById('userType').value = String(await localStorage.getItem('userType'));
        document.getElementById('sessionForm').submit();
    }

    retrieveDataAndSend()
</script>
<%- include('partials/_footer.ejs') %>