<%- include('partials/_header.ejs') %>
<link rel="stylesheet" href="/css/error.css">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box">
                    <h2>You have succesfully signed out!</h2>
                    <h3 class="text-muted">Thank You For Using Techer</h3>
                    <a href="/login" class="btn btn-primary">Go To Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/signOut.js"></script>
<%- include('partials/_footer.ejs') %>