
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, #58f8a4, #1565c0);
}

.card {
    margin-bottom: 20px;
    border: none;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box {
    width: 1400px;
    height: 550px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: -25%;
    background: #343a40;
    text-align: center;
    transition: 0.25s;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}
